{%  extends "base.html" %}
{% load ssi from future %}

{% block header_template %}

    <script type="application/mustache"
            id="list_todolist">
    {% templatetag openvariable %}=[[ ]]={% templatetag closevariable %}
    <li>[[name]]</li>
    </script>

{% endblock %}

{% block page_contents %}

    <div class="row"><h2>To Do List</h2></div>
    <div class="row todolist_list">
        <form class="form-horizontal nosubmit">
            <button class="btn refresh"><i class="icon-refresh"></i></button>
            <div class="input-append">
                <input class="span2 new_list_name" placeholder="New List Name" type="text"><button class="btn add_new_list" type="button"><i class="icon-plus"></i></button>
            </div>
        </form>

        <ul class="todolists">
        </ul>
    </div>

{% endblock %}

{% block bottom_script_page %}

    <script type="text/javascript">
        TODOLISTS_URL = '{{ ToDoListResource.get_resource_list_uri }}'
        TODO_URL = '{{ ToDoResource.get_resource_list_uri }}'
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}todo.js">
    </script>

{% endblock %}