{% extends "base.html" %}

{% block header_template %}

    <script type="application/mustahce" id="todo_template">
        {% templatetag openvariable %}=[[ ]]={% templatetag closevariable %}
        <li>
            <input type="checkbox" class="done" [[#complete]]checked=""[[/complete]]>
            [[text]]
            <small class="muted">created: [[creation_datetime]]</small>
        </li>
    </script>

    <script type="application/mustache" id="list_todolist">
        {% templatetag openvariable %}=[[ ]]={% templatetag closevariable %}
        <li class="todolist">
            <i class="icon-chevron-right toggle-todos [[^todos.models.length]]hide[[/todos.models.length]]"></i>
            <span class="name">[[name]]</span> ([[todos.models.length]])
            <button class="btn-link remove-list"><i class="icon-remove remove-list"></i></button>
            <ul class="todos unstyled hide">
            </ul>
        </li>
    </script>

{% endblock %}

{% block page_contents %}

    <div class="row">
        <div class="span12">
            <h2>{{ request.user.username }}'s To Do List</h2>
        </div>
    </div>
    <div class="row todolist_list">
        <div class="span12">
            <form class="form-horizontal nosubmit">
                <button class="btn refresh"><i class="icon-refresh"></i></button>
                <div class="input-append">
                    <input class="span2 new_list_name" placeholder="New List Name" type="text">
                    <button class="btn add_new_list" type="button"><i class="icon-plus"></i></button>
                </div>
            </form>
            <ul class="todolists unstyled">
            </ul>
        </div>
    </div>
    <div>
        <div class="modal hide"
             id="edit-list-name-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="edit-list-name-modal-label"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="edit-list-name-modal-label">Rename '<span class="list-old-name"></span>'</h3>
            </div>
            <div class="modal-body">
                <div>
                Enter the list's new name: <input type="text" class="list-new-name">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary save">Save changes</button>
            </div>

        </div>
    </div>
{% endblock %}

{% block bottom_script_page %}

    <script type="text/javascript">
        TODOLISTS_URL = '{{ ToDoListResource.get_resource_list_uri }}'
        TODO_URL = '{{ ToDoResource.get_resource_list_uri }}'
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}todo.js">
    </script>

{% endblock %}

